<article class="category-1 category-2 ef-portfolio-item text-center ef-radius">
	
	<div class="ef-portfolio-item-inner">
	
		<a class="ef-proj-img" data-gal="lb[gal]" title="Title of a post" href="images/content/img-large.jpg"><img src="images/content/img360x224.jpg" alt="" /><span class="ef-loader"><span></span></span></a>								
		
		<div class="ef-item-inner">
		
			<h5 class="ef-no-margin ef-item-title"><a href="portfolio-single.html">Manito</a></h5>
		
			<div class="ef-portfolio-tags text-center hide-for-print">
				<a href="#">photo</a>,  <a href="#">creative</a>,  <a href="#">design</a>
			</div>
		
		</div>
	
	</div>
	
</article>
<article class="category-3 ef-portfolio-item text-center ef-radius">

	<div class="ef-portfolio-item-inner">
		<a class="ef-proj-img" data-gal="lb[gal]" title="Title of a post" href="images/content/img-large.jpg"><img src="images/content/img360x224.jpg" alt="" /><span class="ef-loader"><span></span></span></a>
		
		<div class="ef-item-inner">
		
			<h5 class="ef-no-margin ef-item-title"><a href="portfolio-single.html">Cars in row</a></h5>
		
			<div class="ef-portfolio-tags text-center hide-for-print">
				<a href="#">photo</a>,  <a href="#">creative</a>,  <a href="#">design</a>
			</div>
		
		</div>
		
	</div>
	
</article>
<article class="category-4 category-1 ef-portfolio-item text-center ef-radius">
	
	<div class="ef-portfolio-item-inner">
	
		<a class="ef-proj-img" data-gal="lb[gal]" title="Title of a post" href="images/content/img-large.jpg"><img src="images/content/img360x224.jpg" alt="" /><span class="ef-loader"><span></span></span></a>
		
		<div class="ef-item-inner">
		
			<h5 class="ef-no-margin ef-item-title"><a href="portfolio-single.html">Flow</a></h5>
		
			<div class="ef-portfolio-tags text-center hide-for-print">
				<a href="#">photo</a>,  <a href="#">creative</a>,  <a href="#">design</a>
			</div>
		
		</div>
		
	</div>
	
</article>
<article class="category-3 category-2 ef-portfolio-item text-center ef-radius">

	<div class="ef-portfolio-item-inner">
	
		<a class="ef-proj-img" data-gal="lb[gal]" title="Title of a post" href="images/content/img-large.jpg"><img src="images/content/img360x224.jpg" alt="" /><span class="ef-loader"><span></span></span></a>
		
		<div class="ef-item-inner">
		
			<h5 class="ef-no-margin ef-item-title"><a href="portfolio-single.html">Mountain race</a></h5>
		
			<div class="ef-portfolio-tags text-center hide-for-print">
				<a href="#">photo</a>,  <a href="#">creative</a>,  <a href="#">design</a>
			</div>
		
		</div>
		
	</div>
	
</article>