/* Topbar -------------------------*/
.top-bar {
	*zoom: 1;
	overflow: visible; 
}

.top-bar:before, .top-bar:after {
	content: " ";
	display: table; 
}

.top-bar:after {
	clear: both;
}

.top-bar .toggle-topbar {
	display: none;
}

.top-bar .title-area {
	float: left;
}

.top-bar .name h1 a {
	width: auto;
}

.top-bar-section {
	left: 0 !important; 
}

.top-bar-section ul {
	width: auto;
	height: auto !important;
	display: inline; 
}

.top-bar-section ul li {
	float: left;
}

.top-bar-section ul li > a {
	padding-right: 14px !important;
	line-height: 2.3em;
	padding: 0 15px;
	background: #fff;
}

.top-bar-section ul li .js-generated {
	display: none;
}

.top-bar-section .has-dropdown.moved {
	position: relative;
}

.top-bar-section .has-dropdown.moved > .dropdown {
	visibility: hidden;
}

.top-bar-section .has-dropdown:hover > .dropdown, 
.top-bar-section .has-dropdown:active > .dropdown {
	visibility: visible;
}

.top-bar-section .dropdown {
	left: 0;
	top: auto;
	background: transparent;
	border: 1px solid #eaeaea;
	margin-top: -1px;
}

.top-bar-section .dropdown li a {
	line-height: 1;
	white-space: nowrap;
	padding: 7px 15px;
}

.top-bar-section .dropdown li label {
	white-space: nowrap;
}

.top-bar-section .dropdown li .dropdown {
	left: 100%;
	top: 0; 
}

.top-bar-section ul.right li .dropdown {
  left: auto;
  right: 0; 
}

.top-bar-section ul.right li .dropdown li .dropdown { right: 100%; }

.top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
    content: "»";
}



/* The Grid ---------------------- */
.row { width: 990px; max-width: 100%; min-width: 990px; margin: 0 auto; }
.row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.row.large-collapse .column,
.row.large-collapse .columns { padding: 0; }
.row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.row .row.large-collapse { margin: 0; }

.column, .columns { float: left; min-height: 1px; padding: 0 15px; position: relative; }
.column.large-centered, .columns.large-centered { float: none; margin: 0 auto; }
[class*="column"] + [class*="column"]:last-child { float: right; }
[class*="column"] + [class*="column"].end { float: left; }
[class*="block-grid-"] >li { float: left; }

[class*="block-grid-1"] > li { width: 100% }
[class*="block-grid-2"] > li { width: 50% }
[class*="block-grid-3"] > li { width: 33.33333% }
[class*="block-grid-4"] > li { width: 25% }
[class*="block-grid-5"] > li { width: 20% }
[class*="block-grid-6"] > li { width: 16.66667% }
[class*="block-grid-7"] > li { width: 14.28571% }
[class*="block-grid-8"] > li { width: 12.5% }
[class*="block-grid-9"] > li { width: 11.11111% }
[class*="block-grid-10"] > li { width: 10% }

.large-1, 
.row .large-1 { width: 8.33333%; }

.large-2, 
.row .large-2 { width: 16.66667%; }

.large-3, 
.row .large-3 { width: 25%; }

.large-4, 
.row .large-4 { width: 33.33333%; }

.large-5, 
.row .large-5 { width: 41.66667%; }

.large-6, 
.row .large-6 { width: 50%; }

.large-7, 
.row .large-7 { width: 58.33333%; }

.large-8, 
.row .large-8 { width: 66.66667%; }

.large-9, 
.row .large-9 { width: 75%; }

.large-10, 
.row .large-10 { width: 83.33333%; }

.large-11, 
.row .large-11 { width: 91.66667%; }

.large-12,
.row .large-12 { width: 100%; }

.row .large-offset-1 { margin-left: 8.33333%; }
.row .large-offset-2 { margin-left: 16.66667%; }
.row .large-offset-3 { margin-left: 25%; }
.row .large-offset-4 { margin-left: 33.33333%; }
.row .large-offset-5 { margin-left: 41.66667%; }
.row .large-offset-6 { margin-left: 50%; }
.row .large-offset-7 { margin-left: 58.33333%; }
.row .large-offset-8 { margin-left: 66.66667%; }
.row .large-offset-9 { margin-left: 75%; }
.row .large-offset-10 { margin-left: 83.33333%; }

.pull-2 { right: 16.66667%; }
.pull-3 { right: 25%; }
.pull-4 { right: 33.33333%; }
.pull-5 { right: 41.66667%; }
.pull-6 { right: 50%; }
.pull-7 { right: 58.33333%; }
.pull-8 { right: 66.66667%; }
.pull-9 { right: 75%; }
.pull-10 { right: 83.33333%; }

.push-2 { left: 16.66667%; }
.push-3 { left: 25%; }
.push-4 { left: 33.33333%; }
.push-5 { left: 41.66667%; }
.push-6 { left: 50%; }
.push-7 { left: 58.33333%; }
.push-8 { left: 66.66667%; }
.push-9 { left: 75%; }
.push-10 { left: 83.33333%; }

.row { *zoom: 1; }
.row:before, .row:after { content: " "; display: table; }
.row:after { clear: both; }


/* Other fixes */
body {
	overflow: auto;
}

a, a:hover, a:focus {
	cursor: pointer!important;
}

.panel.callout {
	border: 0;
}

.f-dropdown {
	border: 1px solid #eaeaea;
	margin-top: -1px;
}

.ef-boxed-ver .ef-wrapper {
	border: 1px solid #eaeaea;
}

.ef-boxed-ver #ef-top .row {
	width: 100%;
}

.ef-portfolio-tags {
	display: none;
}

.ef-portfolio-item:hover .ef-portfolio-tags {
	display: block;
}

.ef-date-comment .ef-comments:after {
	display: none;
}

.ef-date-comment .ef-date {
	border: 1px solid #eaeaea;
}

#ef-top .show-for-small {
	display: none!important;
}

ul.ef-soc-icons a {
	background-image: url('../images/icons/favea-svg-social-pack.png');
}

.ef-icn-1 span {
	background-image: url('../images/icons/icn-1.png');
}

.ef-icn-2 span {
	background-image: url('../images/icons/icn-2.png');
}

.ef-icn-3 span {
	background-image: url('../images/icons/icn-3.png');
}

.ef-icn-4 span {
	background-image: url('../images/icons/icn-4.png');
}

.ef-icn-5 span {
	background-image: url('../images/icons/icn-5.png');
}

.ef-icn-6 span {
	background-image: url('../images/icons/icn-6.png');
}

.ef-icn-7 span {
	background-image: url('../images/icons/icn-7.png');
}

.ef-icn-8 span {
	background-image: url('../images/icons/icn-8.png');
}

.ef-icn-9 span {
	background-image: url('../images/icons/icn-9.png');
}

.ef-icn-10 span {
	background-image: url('../images/icons/icn-10.png');
}


.ef-icn-11 span {
	background-image: url('../images/icons/icn-11.png');
}

.ef-icn-12 span {
	background-image: url('../images/icons/icn-12.png');
}

.ef-icn-13 span {
	background-image: url('../images/icons/icn-13.png');
}

.ef-icn-14 span {
	background-image: url('../images/icons/icn-14.png');
}

.ef-icn-15 span {
	background-image: url('../images/icons/icn-15.png');
}

.ef-icn-16 span {
	background-image: url('../images/icons/icn-16.png');
}

.ef-icn-17 span {
	background-image: url('../images/icons/icn-17.png');
}

.ef-icn-18 span {
	background-image: url('../images/icons/icn-18.png');
}

.ef-icn-19 span {
	background-image: url('../images/icons/icn-19.png');
}

.ef-icn-20 span {
	background-image: url('../images/icons/icn-20.png');
}

.ef-icn-21 span {
	background-image: url('../images/icons/icn-21.png');
}

.ef-icn-22 span {
	background-image: url('../images/icons/icn-22.png');
}

.ef-icn-23 span {
	background-image: url('../images/icons/icn-23.png');
}

.ef-icn-24 span {
	background-image: url('../images/icons/icn-24.png');
}

.ef-icn-25 span {
	background-image: url('../images/icons/icn-25.png');
}

.ef-icn-26 span {
	background-image: url('../images/icons/icn-26.png');
}

.ef-icn-27 span {
	background-image: url('../images/icons/icn-27.png');
}

.ef-icn-28 span {
	background-image: url('../images/icons/icn-28.png');
}

.ef-icn-29 span {
	background-image: url('../images/icons/icn-29.png');
}

.ef-icn-30 span {
	background-image: url('../images/icons/icn-30.png');
}


.ef-icn-31 span {
	background-image: url('../images/icons/icn-31.png');
}

.ef-icn-32 span {
	background-image: url('../images/icons/icn-32.png');
}

.ef-icn-33 span {
	background-image: url('../images/icons/icn-33.png');
}

.ef-icn-34 span {
	background-image: url('../images/icons/icn-34.png');
}

.ef-icn-35 span {
	background-image: url('../images/icons/icn-35.png');
}

.ef-icn-36 span {
	background-image: url('../images/icons/icn-36.png');
}

.ef-icn-37 span {
	background-image: url('../images/icons/icn-37.png');
}

.ef-icn-38 span {
	background-image: url('../images/icons/icn-38.png');
}

.ef-icn-39 span {
	background-image: url('../images/icons/icn-39.png');
}

.ef-icn-40 span {
	background-image: url('../images/icons/icn-40.png');
}


.ef-icn-41 span {
	background-image: url('../images/icons/icn-41.png');
}

.ef-icn-42 span {
	background-image: url('../images/icons/icn-42.png');
}

.ef-icn-43 span {
	background-image: url('../images/icons/icn-43.png');
}

.ef-icn-44 span {
	background-image: url('../images/icons/icn-44.png');
}

.ef-icn-45 span {
	background-image: url('../images/icons/icn-45.png');
}

.ef-icn-46 span {
	background-image: url('../images/icons/icn-46.png');
}

.ef-icn-47 span {
	background-image: url('../images/icons/icn-47.png');
}

.ef-icn-48 span {
	background-image: url('../images/icons/icn-48.png');
}

.ef-icn-49 span {
	background-image: url('../images/icons/icn-49.png');
}

.ef-icn-50 span {
	background-image: url('../images/icons/icn-50.png');
}


.ef-icn-51 span {
	background-image: url('../images/icons/icn-51.png');
}

.ef-icn-52 span {
	background-image: url('../images/icons/icn-52.png');
}

.ef-icn-53 span {
	background-image: url('../images/icons/icn-53.png');
}

.ef-icn-54 span {
	background-image: url('../images/icons/icn-54.png');
}

.ef-icn-55 span {
	background-image: url('../images/icons/icn-55.png');
}

.ef-icn-56 span {
	background-image: url('../images/icons/icn-56.png');
}

.ef-icn-57 span {
	background-image: url('../images/icons/icn-57.png');
}

.ef-icn-58 span {
	background-image: url('../images/icons/icn-58.png');
}

.ef-icn-59 span {
	background-image: url('../images/icons/icn-59.png');
}

.ef-icn-60 span {
	background-image: url('../images/icons/icn-60.png');
}


.ef-icn-61 span {
	background-image: url('../images/icons/icn-61.png');
}

.ef-icn-62 span {
	background-image: url('../images/icons/icn-62.png');
}

.ef-icn-63 span {
	background-image: url('../images/icons/icn-63.png');
}

.ef-icn-64 span {
	background-image: url('../images/icons/icn-64.png');
}

.ef-icn-65 span {
	background-image: url('../images/icons/icn-65.png');
}

.ef-icn-66 span {
	background-image: url('../images/icons/icn-66.png');
}

.ef-icn-67 span {
	background-image: url('../images/icons/icn-67.png');
}

.ef-icn-68 span {
	background-image: url('../images/icons/icn-68.png');
}

.ef-icn-69 span {
	background-image: url('../images/icons/icn-69.png');
}

.ef-icn-70 span {
	background-image: url('../images/icons/icn-70.png');
}


.ef-icn-71 span {
	background-image: url('../images/icons/icn-71.png');
}

.ef-icn-72 span {
	background-image: url('../images/icons/icn-72.png');
}

.ef-icn-73 span {
	background-image: url('../images/icons/icn-73.png');
}

.ef-icn-74 span {
	background-image: url('../images/icons/icn-74.png');
}

.ef-icn-75 span {
	background-image: url('../images/icons/icn-75.png');
}

.ef-icn-76 span {
	background-image: url('../images/icons/icn-76.png');
}

.ef-icn-77 span {
	background-image: url('../images/icons/icn-77.png');
}

.ef-icn-78 span {
	background-image: url('../images/icons/icn-78.png');
}

.ef-icn-79 span {
	background-image: url('../images/icons/icn-79.png');
}

.ef-icn-80 span {
	background-image: url('../images/icons/icn-80.png');
}


.ef-icn-81 span {
	background-image: url('../images/icons/icn-81.png');
}

.ef-icn-82 span {
	background-image: url('../images/icons/icn-82.png');
}

.ef-icn-83 span {
	background-image: url('../images/icons/icn-83.png');
}

.ef-icn-84 span {
	background-image: url('../images/icons/icn-84.png');
}

.ef-icn-85 span {
	background-image: url('../images/icons/icn-85.png');
}

.ef-icn-86 span {
	background-image: url('../images/icons/icn-86.png');
}

.ef-icn-87 span {
	background-image: url('../images/icons/icn-87.png');
}

.ef-icn-88 span {
	background-image: url('../images/icons/icn-88.png');
}

.ef-icn-89 span {
	background-image: url('../images/icons/icn-89.png');
}

.ef-icn-90 span {
	background-image: url('../images/icons/icn-90.png');
}


.ef-icn-91 span {
	background-image: url('../images/icons/icn-91.png');
}

.ef-icn-92 span {
	background-image: url('../images/icons/icn-92.png');
}

.ef-icn-93 span {
	background-image: url('../images/icons/icn-93.png');
}

.ef-icn-94 span {
	background-image: url('../images/icons/icn-94.png');
}

.ef-icn-95 span {
	background-image: url('../images/icons/icn-95.png');
}

.ef-icn-96 span {
	background-image: url('../images/icons/icn-96.png');
}

.ef-icn-97 span {
	background-image: url('../images/icons/icn-97.png');
}

.ef-icn-98 span {
	background-image: url('../images/icons/icn-98.png');
}

.ef-icn-99 span {
	background-image: url('../images/icons/icn-99.png');
}

.ef-icn-100 span {
	background-image: url('../images/icons/icn-100.png');
}