/*

Theme Name: FAVEA
Description: Premium Multipurpose HTML/CSS Template
Author: fireform
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Version: 1.0

Designed & Coded by Fireform
All files, unless otherwise stated, are released under the GNU General Public License
version 3.0 (http://www.gnu.org/licenses/gpl-3.0.html)

--------------------------------------------------------------------------


0.	Colors

	a.	Main color
	b.	Other colors

1.	Fonts, typography

	a.	Fonts
	b.	Default header styles
	
2.	Common styles
	
	a.	Global styles
	b.	Global border radius
	c.	Global transitions

3.	Page part styles

	a.	Logotype
	b.	Topbar/Header
	c.	Sliders
	d.	Content
	e.	Services
	f.	Images
	g.	CSS Preloader
	h.	Breadcrumbs
	i.	Team
	j.	Latest works, Portfolio, Portfolio post
	k.	Latest From the Blog, Blog, Blog post + Comments
	l.	Map
	m.	Common Form styles + Contact Form
	n.	Footer
	
4.	Elements
	
	a.	Buttons
	b.	Icons
	c.	Panels
	d.	Alert Boxes
	e.	Highlights
	f.	Pricing Table + Pseudo Table
	g.	Lists
	h.	Accordion
	i.	Toggle boxes
	j.	Tabs
	k.	Reveal (Modal Dialogs)
	l.	Progressbars
	m.	Testimonials
	
5.	Widgets

*/

/*----------------------------- 0. COLORS -----------------------------*/

/* a. Main color */

.ef-main-bgcolor, button, .button, button.disabled, button[disabled], .button.disabled, .button[disabled], button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus, .top-bar-section ul li > a.button, .alert-box, .breadcrumbs li span, .label, .pagination li.current a, .pagination li.current a:hover, .pagination li.current a:focus, .panel.callout, .progress .meter, .sub-nav dt.active a,
.sub-nav dd.active a, #ef-top ul.lang-sw li.ef-cur a, .top-bar-section a.button.ef-search-btn, .ef-services article:hover a.ef-icon, .ef-style-title a, .ef-portfolio-item:hover .ef-item-inner .ef-item-title a, .ef-date-comment .ef-comments, .ef-style-accordion .ui-accordion-header.ui-accordion-header-active .ui-accordion-header-icon, .ef-style-accordion .ui-accordion-header:hover > .ui-accordion-header-icon, .ef-carousel-pag a:hover, .tp-bullets.simplebullets.round .bullet:hover, .ef-carousel-nav a:hover, .tp-leftarrow.tparrows.default:hover, .tp-rightarrow.tparrows.default:hover, .ef-breadcrumbs small:before, .ef-progress-bar span span, #ef-team .ef-carousel-item:hover .ef-item-title, div.pp_default .pp_nav .pp_play, div.pp_default .pp_nav .pp_pause, div.pp_default .pp_close, div.pp_default .pp_expand, div.pp_default a.pp_arrow_previous, div.pp_default a.pp_arrow_next, div.pp_default .pp_contract, .post-slider-direct-nav a:hover {
	background-color: #e65b5b;
}

/* not for ie8 but for modern browsers */
.top-bar-section li.active a:not(.button), .top-bar-section li.active a:not(.button):hover, .ef-date-comment .ef-comments:after, .ef-sidebar:first-child:only-child .ef-widget-slider .ef-carousel-pag a.selected, .ef-sidebar:first-child .ef-widget-slider .ef-carousel-pag a.selected {
	border-color: #e65b5b;
}

.tp-bullets.simplebullets.round .bullet.selected, button.ef-hollow:hover, .button.ef-hollow:hover, .ef-carousel-nav a:hover, .ef-portfolio-item:hover .ef-item-inner .ef-item-title a, .ef-carousel-pag a.selected, .ef-style-accordion .ui-accordion-header.ui-accordion-header-active .ui-accordion-header-icon, .ef-widget-slider .ef-carousel-pag a.selected, .tagcloud a:hover, #today {
	border-color: #e65b5b;
}

/* Almost the same as main color, but slightly darker. It's for the text on white background */

/* not for ie8 but for modern browsers */
.top-bar-section li a:not(.button):hover, .top-bar-section .has-dropdown:hover > a:not(.button), .top-bar-section .has-dropdown li.active > a:not(.button), .expanded .top-bar-section li.active > a:not(.button), .top-bar-section li.active > a:not(.button):hover {
	color: #c54545;
}

p a, a:hover, a:focus, .ef-text-color, h1 a, h2 a, h3 a, h4 a, h5 a, .ef-hollow:hover, .ef-carousel-nav a:hover, .ef-breadcrumbs li a, .ef-faq.ef-style-accordion .ui-accordion-header:before, .ef-points .ef-map-current, .f-dropdown li.ef-currentclass a, #today, .ef-tabs ul.tabs-nav li.ui-tabs-active.ui-state-active a, .ef-main-color, a, .side-nav li a, #ef-footer #ef-footer-bottom a:hover, #ef-footer a:hover, .ef-sidebar a:hover {
	color: #c54545;
}

/* b. Other colors of the template are here. Slider, lightbox and other plugin default colors are in the css stylesheets located in the js subfolders. */
#ef-top ul.lang-sw li.ef-cur a, .ef-style-title a, .ef-style-title a:hover, .ef-style-title a:focus, .ef-portfolio-item:hover .ef-item-inner .ef-item-title a, .ef-date-comment .ef-comments, #ef-footer #ef-footer-bottom a, .ef-tooltip, #ef-team .ef-carousel-item:hover .ef-item-title, a.button, .tp-caption a.button:hover, .ef-kbd, #ef-footer a.button {
	color: #fff;
}

.lang-sw, ul.ef-soc-icons li:nth-child(odd), .ef-small-cap-bg, .panel .ef-panel-inner, .ef-item-inner a, .ef-portfolio-tags, .ef-date-comment .ef-date, .ef-carousel-pag a.selected, .tp-bullets.simplebullets.round .bullet.selected:hover, .ef-twitter-widget, #ef-team .ef-item-title, .ui-slider a, .ef-table1 td, .tagcloud a, #today, .widget_calendar caption, textarea.error:focus, .ef-tabs ul.tabs-nav li.ui-tabs-active.ui-state-active, .ef-boxed-ver .ef-wrapper {
	background-color: #fff;
}

.top-bar-section ul ul label, .top-bar-section ul ul, .top-bar.expanded .title-area {
	background: #fff!important;
}

.ef-sidebar:first-child .ef-widget-slider .ef-carousel-pag a {
	border-color: #fff;
}

.ef-loader, #ef-top, .panel, #ef-footer, ul.contacts span, pre, .ef-progress-bar div, .ui-slider, .pricing-table.ef-price-table .description, .ef-sidebar aside, .pagination li:hover a, .pagination li a:focus, .ef-sidebars .ef-sidebar:first-child:only-child > aside, .socialcount > li:hover, .socialcount > li > a:focus, .socialcount > li.hover, ul.ef-soc-icons li:nth-child(even), .ef-tabs ul.tabs-nav li {
	background-color: #f7f7f7;
}

.ef-widget-slider .ef-carousel-pag a, .ef-sidebar:first-child:only-child .ef-widget-slider .ef-carousel-pag a  {
	border-color: #f7f7f7;
}

.ef-price-table .bullet-item.unavailable {
	color: #c2c2c2;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
	border-color: #c2c2c2;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
	border-color: #b7b7b7;
}

#ef-top ul li a, #ef-top, .panel .subheader  {
	color: #959595;
}

.panel, .ef-item-inner a, .ef-loader, .top-bar-section ul li {
	border-color: #e9e9e9;
}

.ef-services article, button.ef-hollow, .button.ef-hollow, .panel .ef-panel-inner, .ef-style-accordion .ui-accordion-header .ui-accordion-header-icon, .ef-uiaccordion-content-inner, .ef-portfolio-tags, #ef-clients-carousel, hr, .ef-breadcrumbs, #ef-team .ef-soc-icons, .ef-pseudo-table, .ef-pseudo-table li li, .ef-price-table .title, .ef-price-table .price, .ef-bloginfo .inline-list, .tagcloud a, .ef-sidebars .ef-sidebar:first-child > aside, .widget_calendar td#prev, .widget_calendar td#next, .widget_calendar table tfoot, .widget_calendar caption, .widget_calendar table, .post-comm, .ef-tabs ul.tabs-nav li, .ef-tabs .tab {
	border-color: #e6e6e6;	
}

.ef-carousel-pag a, .ef-loader span, .tp-loader, .socialcount > li {
	background-color: #d2d2d2
}

.ef-carousel-nav a, .ui-slider a, .ef-contact-slider, .ef-map-pag .btn, .tweet_action, .socialcount > li:hover, .socialcount > li {
	border-color: #d1d1d1;
}

#ef-footer-bottom {
	color: #d1d1d1;
}

.ef-style-accordion .ui-accordion-header .ui-accordion-header-icon {
	background-color: #c5c5c5;
}

.ef-price-table .title {
	color: #a5a5a5;
}

.ef-map-pag {
	border-color: #a5a5a5;
}

.ef-carousel-nav a, .post-slider-direct-nav a {
	background-color: #a5a5a5;
}

#ef-footer, .ef-sidebar {
	color: #858585;
}

body, .panel p, h1 small, h2 small, h3 small, h4 small, h5 small, h6 small,
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
	color: #707070;
}

#ef-footer a, .ef-sidebar a {
	color: #606060;
}

.top-bar-section a.button.ef-search-btn:hover, button:hover, button:focus, .button:hover, .button:focus, .ef-style-title a:hover, .ef-style-title a:focus, .ef-portfolio-item .ef-item-inner .ef-item-title a:hover, .ef-latest-thumb:hover > .ef-date-comment .ef-comments, #ef-footer-bottom, .tp-leftarrow.tparrows.default:active, .tp-rightarrow.tparrows.default:active, .ef-tooltip, .ef-tooltip:before, .ef-map-pag .btn:hover {
	background-color: #505050;
}

.ef-portfolio-item .ef-item-inner .ef-item-title a:hover, .ef-latest-thumb:hover > .ef-date-comment .ef-comments:after, .ef-hollow.medium, .ef-faq.ef-style-accordion .ui-accordion-header .ui-accordion-header-icon, .ef-map-pag .btn:hover, .ef-map-pag .btn.fwd-btn:hover {
	border-color: #505050;
}

#ef-footer h6, .ef-sidebar h6 {
	color: #404040;
}

/* not for ie8 but for modern browsers */
.top-bar-section ul li a:not(.button) {
	color: #303030;
}

a, p a:hover, .lang-sw a, .lang-sw a, #ef-top ul.lang-sw li a, h1 a, h2 a, h3 a, h4 a, h5 a, .ef-carousel-nav a, #ui-lightbox-title, .ef-breadcrumbs li:hover > a, .ef-map-pag .ef-place, .ef-small-cap-bg p, .alert-box .close, .alert-box .close:hover, .alert-box .close:focus {
	color: #303030;
}

.top-bar-section .dropdown li.title h5 a, .top-bar.expanded .toggle-topbar a, .top-bar .toggle-topbar.menu-icon a span, .button.ef-hollow {
	color: #303030!important;
}

/* not for ie8 but for modern browsers */
.top-bar-section li a:not(.button), .top-bar-section li a:not(.button):hover, .ef-price-table *:not(.button), .ef-sidebars .ef-sidebar:first-child > aside {
	background: none transparent;
}

.top-bar-section ul li.active a, .top-bar, .top-bar-section ul, .top-bar-section .has-form, .top-bar.expanded, .ef-portfolio-tags a, .panel.ef-panel, .widget_calendar table tfoot {
	background: none transparent;
}


/*----------------------------- 0. END COLORS -----------------------------*/

/*----------------------------- 1. FONTS, TYPOGRAPHY ----------------------*/

/* a. Fonts */

body, h1, h2, h3, h4, h5, h6, small, #yoxview, kbd {
	font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
}

.ef-title-cap, .ef-panel h1, .ef-panel h2, .ef-panel h3, .ef-panel h4, .ef-panel h5, .ef-panel h6, .caption h1, .caption h2, .caption h3, .caption h4, .caption h5, .caption h6, cite, .ef-breadcrumbs h1, .ef-breadcrumbs h2, .ef-breadcrumbs h3, .ef-breadcrumbs h4, .ef-breadcrumbs h5, .ef-breadcrumbs h6, .ef-price-table .price, .ef-secondary {
	font-family: 'Droid Serif', serif;
}

pre {
	font-family: Consolas, "Lucida Console", Monaco, monospace;
}


/* b. Default header styles */

h1, h2, h3, h4, h5, h6 {
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
	line-height: 1.2125em; }
	h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-size: 60%;
    line-height: 0;
}

.subheader {
	margin-bottom: 0.5em;
	margin-top: 0.2em;
	line-height: 1.2125em;
}

/* Use online app http://riddle.pl/emcalc/ to calculate the size if you need to customize */

h1 {
  font-size: 1.625em;
} /*26px*/

h2 {
  font-size: 1.375em;
} /*22px*/

h3 {
  font-size: 1.125em;
} /*18px*/

h4 {
  font-size: 1.000em;
} /*16px*/

h5 {
  font-size: 0.875em;
} /*14px*/

h6 {
  font-size: 0.750em;
  font-weight: 700;
  text-transform: uppercase;
} /*12px*/


/*----------------------------- 1. FONTS, TYPOGRAPHY ----------------------*/

/*----------------------------- 2. COMMON STYLES --------------------------*/

/* a. Global styles */

body {
	font-size: 16px;
	position: relative;
	overflow-x: hidden;
}

p, cite, pre, bloquote, ol, ul, legend, fieldset, option, input {
    font-style: normal;
    font-weight: normal;
    line-height: 1.5em;
    margin-bottom: 1.25em;
    text-rendering: optimizelegibility;
}

table, p, cite, pre, bloquote, ol, ul, legend, fieldset, option, input {
	font-size: 0.813em;
}

pre {
	height: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    padding: 0.938em;
}

address {
	font-style: normal;
}

cite {
	font-style: italic;
}

ol ol, ul ul, ul p, ol p, ul cite, ol cite {
	font-size: 1em;
}

hr {
  border-style: solid;
  border-width: 1px 0 0;
  clear: both;
  margin: 0.438em 0 0.438em;
  height: 0; }
  
hr.ef-blank {
	border: 0;
	height: 1px;
}

hr.ef-dashed {
	border-style: dashed;
}

.ef-bottom-2_18 {
	margin-bottom: 2.188em;
}

.ef-no-margin {
	margin: 0;
}

.ef-uppercase {
	text-transform: uppercase;
}

.alignleft {
	float: left;
	margin: 0 0.625em 0.625em 0;
	display: block;
}

img.alignright {
	float: right;
	margin: 0  0 1.063em 1.063em;
	display: block;
}

.ef-style-title {
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 1.250em;
}

.ef-style-title a {
	white-space: nowrap;
	padding: 0.313em 1em;
	text-transform: none;
	font-weight: normal;
	font-size: 0.813em;
	margin-left: 1.250em;
}

.clearfix:before, .clearfix:after {    
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    float: none;
}

.clearfix:after, .ef-content:before, .ef-content:after, .shortcode-wrapper:after {    
	clear: both    
}



/* b. Global Border radius */

.lang-sw a, .top-bar-section .dropdown, .ef-small-cap-bg, .ef-radius, input.radius, .ef-uiaccordion-content-inner, pre, .ef-loader span, .tp-loader, .ef-tooltip, .ef-tooltip:before, .ef-map-pag, .ef-proj-img, .ef-pagination a, .jflickr a, .ef-avatar {
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
		    border-radius: 3px;
}

input.prefix.round {
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-border-radius-topright: 1000px;
	-moz-border-radius-bottomright: 1000px;
	-webkit-border-top-right-radius: 1000px;
	-webkit-border-bottom-right-radius: 1000px;
	border-top-right-radius: 1000px;
	border-bottom-right-radius: 1000px;
}

input.postfix.round {
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-border-radius-topright: 1000px;
	-moz-border-radius-bottomright: 1000px;
	-webkit-border-top-right-radius: 1000px;
	-webkit-border-bottom-right-radius: 1000px;
	border-top-right-radius: 1000px;
	border-bottom-right-radius: 1000px;
}

input.prefix.radius {
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}

input.postfix.radius {
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.top-bar-section ul li a, .top-bar input, .ef-round, input.round, .ef-style-title a, .ef-carousel-nav a, .ef-carousel-pag a, .ef-style-accordion .ui-accordion-header .ui-accordion-header-icon, .ef-breadcrumbs small:before, .ef-progress-bar div, .ef-progress-bar span, .ui-slider a, .tagcloud a, div.pp_default .pp_nav .pp_play, div.pp_default .pp_nav .pp_pause, div.pp_default .pp_close, div.pp_default .pp_expand, div.pp_default a.pp_arrow_previous, div.pp_default a.pp_arrow_next, div.pp_default .pp_contract {
	-webkit-border-radius: 1000px;
	   -moz-border-radius: 1000px;
		    border-radius: 1000px;
}


/* c. Global Transitions */

a, input, textarea, .top-bar-section .dropdown, .tp-bullets.simplebullets.round .bullet, .button, .ef-comments, .ui-accordion-header-icon, .ef-birdy, tparrows, .ef-comments:after, .ef-item-title, .ef-map-pag .btn, .socialcount > li {
	transition: background-color 0.2s ease-out 0s, border-color 0.2s ease-out 0s, color 0.2s ease-out 0s, opacity 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-out 0s,  border-color 0.2s ease-out 0s, color 0.2s ease-out 0s, opacity 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-out 0s,  border-color 0.2s ease-out 0s, color 0.2s ease-out 0s, opacity 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-out 0s,  border-color 0.2s ease-out 0s, color 0.2s ease-out 0s, opacity 0.2s ease-in-out;
}


/*----------------------------- 2. END COMMON STYLES ----------------------*/

/*----------------------------- 3. PAGE PART STYLES ------------------------*/

/* a. Logotype */

.top-bar, .top-bar .name, .top-bar .toggle-topbar a {
	height: 65px;
}

.top-bar ul.title-area .name {
	padding-top: 30px;
	margin-right: 1.250em;
}



/* b. Topbar/Header */

#ef-top {
	z-index: 1;
	position: relative;
	padding-bottom: 1px;
}

#ef-top hr {
	margin: 0;
}

#ef-top ul, #ef-top ul li {
	list-style: none;
	margin: 0;
}

#ef-top ul.left li {
	margin-right: 20px;
}

#ef-top ul li {
	font-size: 0.923em;
	white-space: nowrap;
}

#ef-top ul.lang-sw {
	overflow: hidden;
	height: 35px;
}

#ef-top ul.lang-sw a {
	padding: 1px 4px;
	text-transform: uppercase;
}

#ef-top li li {
	font-size: 1em;
}

#ef-top ul.lang-sw {
	padding: 0 5px;
}

#ef-top ul.lang-sw li {
	padding: 0 2px;
	margin-right: 0;
	display: inline;
	padding-top: 11px;
}

.top-bar .toggle-topbar.menu-icon {
	right: 0;
}

.top-bar-section li li a {
	text-transform: capitalize;
}

.top-bar-section a {
	position: relative;
}

.top-bar-section ul a:after, .top-bar-section .has-dropdown > a:after {
	border: 0;
}

.top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
    margin-top: -7px;
    bottom: auto;
    left: auto;
    top: 50%;
    width: 0;
    height: 0;
}

.top-bar-section .has-dropdown:hover > a:after {
	position: absolute;
    content: "";
    background-image: url(../images/menu-corner.gif);
    display: block;
    left: 50%;
    margin-left: -4px;
    top: auto;
    bottom: 0;
    width: 9px;
    height: 5px;
    z-index: 500;
}

.top-bar-section li.active:hover > a:after {
	bottom: -1px;
}

.top-bar-section ul ul a:after {
	background-image: none!important;
}

.top-bar-section .dropdown {
	z-index: 499;
	-webkit-opacity: 0;
	   -moz-opacity: 0;
	        opacity: 0;
}

.top-bar-section .has-dropdown:hover > .dropdown, .top-bar-section .has-dropdown:active > .dropdown {
	-webkit-opacity: 1;
	   -moz-opacity: 1;
	        opacity: 1;
}

.top-bar-section li.active > a:not(.button) {
	border-width: 1px;
	border-style: solid;
}

.top-bar-section li.has-dropdown.active:hover > a {
	border-color: #fff;
}

.top-bar-section ul ul li.active > a:not(.button) {
	border: 0;
}

.top-bar-section ul ul .has-dropdown:hover > .dropdown {
	top: 0;
}

.top-bar-section .dropdown li a {
	padding: 10px 15px;
	font-size: 0.750em;
}

.top-bar-section ul li > a {
	height: auto;
}

.top-bar-section .has-dropdown > a {
	padding-right: 15px!important;
}

.top-bar-section {
	padding-top: 28px;
}

.no-js .top-bar a.button.ef-search-btn {
	display: none;
}

.top-bar a.button.ef-search-btn {
	width: 40px;
	height: 40px!important;
	margin-top: -5px;
	border: 0;
	background-repeat: no-repeat;
	background-position: 50% 50%!important;
	top: 0;
}

.top-bar a.button.ef-search-btn, .top-bar-section ul li > a.button.ef-search-btn:hover {
	background-image: url('../images/magnifier.png');
}

.top-bar-section .has-form {
	padding: 0;
	height: auto;
}

.top-bar-section > ul > .divider {
	border: 0;
}

.top-bar-section ul ul li > a {
	font-weight: 400;
}

.top-bar-section ul ul {
	-webkit-box-shadow:  0px 0px 0px 1px rgba(0, 0, 0, 0.09);	        
	        box-shadow:  0px 0px 0px 1px rgba(0, 0, 0, 0.09);
}

.top-bar-section .has-dropdown ul li {
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.top-bar-section .has-dropdown ul li:last-child {
	border: 0;
}

.top-bar-section li a:not(.button) {
	line-height: 2.3em;
}

.top-bar-section li li a:not(.button) {
	line-height: 1em;
}

.dropdown li.active > a {
	border: 0;
}

.top-bar-section ul ul .has-dropdown > a {
	padding-right: 32px!important;
	line-height: 1em;
}

.top-bar-section ul.left ul li {
	margin-right: 0;
}

.top-bar-section ul a {
	font-size: 0.875em;
	text-transform: uppercase;
}

.top-bar-section ul ul a {
	text-transform: none;
}

#ef-top ul li, #ef-top ul.ef-soc-icons a {
	display: block;
	line-height: 1em;
}

#ef-top ul li {
	float: left;
}

#ef-top ul.ef-soc-icons li {
	margin: 0!important;
	float: none;
	display: inline-block;
	vertical-align: top;
}

.ef-phone, .ef-mail, .ef-soc-title {
	padding-top: 11px;
	line-height: 1.1em;
}



/* c. Sliders (other slider syles you can find here: js/rs-plugin/css/favea-style.css) */

.fullwidthbanner-container {
	width:100% !important;
	position: relative;
	max-height: 376px !important;
	overflow: hidden;
}

.ef-page-slider {
	width: 100%;
	overflow: hidden;
	position: relative;
	max-height: 195px!important;
	margin-bottom: 2.18em;
	margin-top: -5.313em;
	background: #f7f7f7;
}




/* d. Content */
.ef-boxed-ver {
	background: #f5f5f5;
	padding: 1.875em 0;
}

.ef-boxed-ver #ef-top .row {
	max-width: none!important;
}

.ef-boxed-ver #ef-top .columns {
	padding: 0!important;
}

.ef-boxed-ver .ef-wrapper {
	margin: 0 auto;
	max-width: 	63.125em;
	-webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, 0.05);	        
	        box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, 0.05);
}

#ef-content {
	padding-bottom: 1.25em;
}



/* e. Services */

.ef-services article {
	border-left-width: 1px;
	border-left-style: dashed;
	margin-bottom: 1.25em;
}

.ef-services article:first-child {
	border: 0;
}




/* f. Images */

.ef-proj-img {
	display: block;
	overflow: hidden;
	position: relative;
}

.ef-proj-img img {
	position: relative;
	display: block;
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	transition-duration: 1s;
}

#ef-latest-works .ef-proj-img img:hover, #ef-portfolio .ef-proj-img img:hover {
	-moz-transform: scale(1.1); /* Firefox */
	-webkit-transform: scale(1.1); /* Safari and Chrome */
	-o-transform: scale(1.1); /* Opera */
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

#ef-team .ef-proj-img {
	margin-bottom: 0.938em;
}

#ef-latest-works .ef-proj-img, #ef-portfolio .ef-proj-img {
	margin-bottom: 0;
	-webkit-border-radius: 3px 3px 0 0;
			border-radius: 3px 3px 0 0;
}



/* g. CSS Preloader */

.no-js .ef-loader {
	display: none;
}

.ef-loader {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-width: 1px;
	border-style: solid;
}

.ef-loader span, .tp-loader {
	z-index: 1;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -5px;
	margin-left: -20px;
	height: 10px;
	width: 40px;
	-webkit-background-size: 30px 30px!important;
	   -moz-background-size: 30px 30px!important;
	        background-size: 30px 30px!important;
	background-image: -webkit-gradient(linear, left top, right bottom,
						color-stop(.25, rgba(255, 255, 255, .5)), color-stop(.25, transparent),
						color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .5)),
						color-stop(.75, rgba(255, 255, 255, .5)), color-stop(.75, transparent),
						to(transparent));
	background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .5) 25%, transparent 25%,
	                    transparent 50%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, .5) 75%,
	                    transparent 75%, transparent);
	background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .5) 25%, transparent 25%,
	                    transparent 50%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, .5) 75%,
	                    transparent 75%, transparent);
	background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .5) 25%, transparent 25%,
	                    transparent 50%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, .5) 75%,
	                    transparent 75%, transparent);
	background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .5) 25%, transparent 25%,
	                    transparent 50%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, .5) 75%,
	                    transparent 75%, transparent);
	background-image: linear-gradient(135deg, rgba(255, 255, 255, .5) 25%, transparent 25%,
	                    transparent 50%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, .5) 75%,
	                    transparent 75%, transparent);
	                    
	background-repeat: repeat-x;
	
	-webkit-animation: animate-stripes 1.5s linear infinite;
	   -moz-animation: animate-stripes 1.5s linear infinite;
}

@-webkit-keyframes animate-stripes { 
	0% {background-position: 0 0;} 100% {background-position: 90px 0;}
}


@-moz-keyframes animate-stripes {
	0% {background-position: 0 0;} 100% {background-position: 90px 0;}
}




/* h. Breadcrumbs */

.breadcrumbs {
	padding: 0.438em 0 0 0;
	background: none;
	border: 0;
	display: inline-block;
}

.breadcrumbs li:before {
	content: "\2192";
	position: static;
}

.breadcrumbs li:hover a, .breadcrumbs li:focus a {
	text-decoration: none;
}

.ef-has-slider .ef-breadcrumbs {
	padding-bottom: 4.063em;
}

.breadcrumbs > * {
	font-size: 0.846em;
}

.ef-breadcrumbs h1, .ef-breadcrumbs h2, .ef-breadcrumbs h3, .ef-breadcrumbs h4, .ef-breadcrumbs h5, .ef-breadcrumbs h6 {
	text-transform: uppercase;
}

.ef-breadcrumbs {
	padding: 0.9375em 0;
	background-image: url('../images/slider-shad-bot.png');
	background-position: left bottom;
	background-repeat: repeat-x;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	position: relative;
}

.no-js .ef-has-slider .ef-breadcrumbs {
	padding: 0.9375em 0;
}

.ef-breadcrumbs:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 35px;
	content: '';
	background-image: url('../images/breadcr-shad.png');
	background-position: left top;
	background-repeat: repeat-x;
}

.ef-breadcrumbs small {
	margin-left: 0.5em;
	padding-left: 0.72em;
	position: relative;
	font-size: 90%;
	text-transform: none;
	display: inline;
}

.ef-breadcrumbs small:before {
	width: 4px;
	height: 4px;
	content: '';
	position: absolute;
	left: 0;
	top: 0.5em;
}

.ef-breadcrumbs h3 {
	padding-right: 0.625em;
}

.ef-breadcrumbs ul {
	overflow: hidden;
	margin: 0;
}

.ef-breadcrumbs li {
	list-style: none;
	margin: 0;
}

.ef-breadcrumbs li.current {
	padding: 0;
}




/* i. Team */

#ef-team .ef-item-title {
	font-size: 0.750em;
	margin-bottom: 0;
	position: absolute;
	left: 0;
	bottom: 0.583em;
	padding: 0.250em 0.667em 0.333em;	
	-webkit-border-radius: 0 3px 3px 0;
	   -moz-border-radius: 0 3px 3px 0;
		    border-radius: 0 3px 3px 0;
}

.ef-team-desc {
	padding-right: 0.938em;
}




/* j. Latest Works, Portfolio, Portfolio post */

.ef-portfolio-item, #ef-team .ef-carousel-item {
	width: 15.125em;
	float: left;
}

#ef-latest-works, #ef-team {
	width: 100.4%;
}

#ef-latest-works .ef-portfolio-item {
	padding: 0 0.25em 2.188em 0;
}

.ef-portfolio-item-inner, #ef-team .ef-carousel-item {
	padding: 0 0.25em 0 0;
}

.ef-item-inner a, #ef-clients-carousel a {
	display: block;
}

.ef-item-inner {
	margin: 0;
}

.ef-item-inner, .ef-portfolio-item a {
	position: relative;
}

.ef-item-inner a {
	padding: 0.938em 0.625em;
}

.ef-item-inner .ef-item-title a, .ef-portfolio-tags {
	border-style: solid;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 0;
	border-bottom-width: 1px;
}

.ef-portfolio-tags, .ef-item-inner a  {
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}

.ef-portfolio-tags {
	position: absolute;
	font-size: 0.750em;
	padding: 0.750em 0.625em;
	top: 0;
	width: 100%;
	height: auto;
	-webkit-opacity: 0;
	   -moz-opacity: 0;
	        opacity: 0;
	filter: alpha(opacity=0);
	
	-webkit-transition-property: top, opacity;
	            -webkit-transition-duration: 0.3s;
			transition-property: top, opacity;
	            		transition-duration: 0.3s;
}

.ef-portfolio-tags a {
	display: inline;
	padding: 0;
	z-index: auto;
}

.ef-portfolio-item:hover {
	z-index: 500;
}

.ef-portfolio-item:hover .ef-item-inner .ef-item-title a {
	border-bottom-width: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.ef-portfolio-item:hover .ef-portfolio-tags  {
	z-index: 100;
	top: 100%;
	-webkit-opacity: 1;
	   -moz-opacity: 1;
	        opacity: 1;
	filter: alpha(opacity=100);
}

.ef-portfolio-tags:after {
	position: absolute;
	content: '';
	top: -4px;
	left: 50%;
	margin-left: -7px;
	width: 14px;
	height: 4px;
	background-image: url('../images/portfolio-tags-arrow.png');
	background-repeat: no-repeat;
	background-position: center bottom;
}

#ef-portfolio .ef-portfolio-wrap {
	width: 101%;
	padding-bottom: 1.875em;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

#ef-portfolio .ef-portfolio-item {
	-webkit-backface-visibility: hidden;
	width: 24.9%;
	padding-bottom: 0;
	margin-bottom: 0.250em;
}

#ef-portfolio.ef-3-col-portfolio .ef-portfolio-item {
	width: 19.92%;
}

.no-js .ef-filter-link, .no-js #ef-addnewitems {
	display: none;
}

#ef-addnewitems {
	margin-bottom: 2.188em;
	line-height: 1.538em;
	position: relative;
	font-weight: normal;
}

#ef-addnewitems .ef-loader {
	display: none;
	border: 0;
}

.no-js .ef-carousel-nav {
	display: none;
}

.caroufredsel_wrapper * {
	/* enabling hardware acceleration for webkit browsers */
	-webkit-transform: translateZ(0);
}

.ef-carousel-nav a, .post-slider-direct-nav a {
	width: 22px;
	height: 22px;
	border-width: 1px;
	border-style: solid;
	display: inline-block;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.ef-carousel-nav a#ef-prev, .ef-carousel-nav a#ef-prev1, a.post-slider-prev {
	background-image: url('../images/carousel-prev.png');
}

.ef-carousel-nav a#ef-next, .ef-carousel-nav a#ef-next1, a.post-slider-next {
	background-image: url('../images/carousel-next.png');
}

/**** Start: Recommended Isotope styles ****/
/**** Isotope Filtering ****/
.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope, .isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
	-webkit-transition-property: height;
	-moz-transition-property: height;
	-ms-transition-property: height;
	-o-transition-property: height;
	transition-property: height;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: top, left, opacity;
    transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}




/*Clients Carousel*/

#ef-clients-carousel {
	padding: 1.250em 0;
	position: relative;
	border-width: 1px;
	border-style: solid;
	margin-bottom: 1.25em;
}

#ef-clients-carousel .ef-carousel-nav {
	z-index: 1;
	position: absolute;
	height: 0;
	width: 100%;
	top: 50%;
}

#ef-clients-carousel .ef-carousel-nav a {
	margin: -10px 0 0 0;
	-webkit-box-shadow:  0px 0px 0px 4px rgba(255, 255, 255, 1);	        
	        box-shadow:  0px 0px 0px 4px rgba(255, 255, 255, 1);
}

#ef-clients-carousel .ef-carousel-nav a#ef-prev1 {
	float: left;
	margin-left: -12px;
}

#ef-clients-carousel .ef-carousel-nav a#ef-next1 {
	float: right;
	margin-right: -12px;
}

#ef-clients-carousel a {
	float: left;
	margin: 0 1.875em;
}

.ef-carousel-pag {
	display: inline-block!important;
	margin-top: 0.250em;
	position: relative;
	background-image: url('../images/slider-paging-bg.gif');
	background-position: 0 50%;
	background-repeat: repeat-x;
}

.ef-carousel-pag a {
	display: inline-block;
	width: 0.688em;
	height: 0.688em;
	border: 2px solid #fff;
	margin: 0 0.188em;
}

.ef-carousel-pag a:first-child {
	margin-left: 0;
}

.ef-carousel-pag a:last-child {
	margin-right: 0;
}

.ef-carousel-pag a span {
	display: none;
}

.ef-from-blog .clearfix:last-child > p {
	margin-bottom: 0;
}

.ef-slide {
	float: left;
	width: 100%;
}

.ef-slide .ef-blog-s3-img.ef-proj-img {
	margin: 0;
}

.ef-slide article {
	display: block;
	width: 100%;
	overflow: hidden;
}

.ef-latest-thumb {
	position: relative;
}

.ef-blogpost-carousel {
	margin-bottom: 1.250em;
}

.post-slider-direct-nav {
	position: absolute;
	right: 0.625em;
	bottom: 0.625em;
	z-index: 50;
}

.post-slider-direct-nav a {
	margin-left: 0.125em;
	float: left;
	display: block;
	border: 0;
	-webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
			box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
}




/* k. Latest From the Blog, Blog, Blog post + Comments */

.ef-date-comment {
	position: relative;
	z-index: 5;
	display: block;
	float: left;
	left: 1px;
	margin-right: 0.625em;
}

.ef-date-comment span {
	vertical-align: top;
	display: inline-block;
}

.ef-date-comment .ef-date {
	font-weight: 300;
	width: 3.563em;
	height: 3.563em;
	line-height: 1.1em;
	padding-top: 0.688em;
	-webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
			box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.ef-date span:last-child {
	font-size: 0.688em;
}

.ef-date-comment .ef-comments {
	font-size: 0.688em;
	font-weight: 700;
	width: 2.091em;
	height: 2.091em;
	line-height: 2.091em;
	margin-left: -1.636em;
	-webkit-border-radius: 1000px;
	border-radius: 1000px;
	position: relative;
}

.ef-date-comment .ef-comments:after {
   content: "";
   position: absolute;
   bottom: 1px;
   left: 1px;
   border-width: 0 6px 6px 0;
   border-style: solid;
}

.ef-from-blog {
	margin-bottom: 1.25em;
}

.ef-from-blog-img {
	display: block;
	float: left;
	margin: 0.313em 1.250em 1.250em -1.688em;
	overflow: hidden;
	width: 6.563em;
}

.ef-post .ef-proj-img {
	margin-bottom: 1.875em;
}

.ef-post .ef-from-blog-img {
	width: 10.625em;
}

.ef-more {
	white-space: nowrap;
	margin-left: 0.625em;
	display: inline-block;
}

.ef-bloginfo {
	margin-bottom: 0.688em;
}

.ef-bloginfo-inner {
	display: inline;
}

.ef-bloginfo .inline-list {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	padding: 0.438em 0;
	margin-left: 0;
}

.ef-bloginfo ul {
	font-size: 0.688em;
	font-weight: 300;
	margin-bottom: 0;
	position: relative;
}

.ef-bloginfo li {
	white-space: nowrap;
	padding-left: 1.875em;
	margin-left: 0;
	margin-right: 1.375em;
	background-repeat: no-repeat;
	background-position: left top;
}

.ef-bloginfo li.ef-bloginfo-comment {
	margin-right: 0;
}

.ef-bloginfo-date {
	background-image: url('../images/bloginfo-date.png');
}

.ef-bloginfo-author {
	background-image: url('../images/bloginfo-author.png');
}

.ef-bloginfo-cat {
	background-image: url('../images/bloginfo-cat.png');
}

.ef-bloginfo-comment {
	background-image: url('../images/bloginfo-comment.png');
}

.ef-bloginfo a {
	display: inline;
}

.ef-sidebar aside {
	padding: 1.250em;
}

.ef-sidebars .ef-sidebar:first-child > aside {
	border-width: 1px;
	border-style: solid;
}

.ef-sidebars .ef-sidebar:first-child:only-child > aside {
	border: 0;
}

.pagination li a {
	line-height: 1em;
	padding: 0.214em 0.4375em;
}

.ef-post .ef-blog-s3-img {
	margin: 0.938em 0;
}

.post-comm {
	padding-top: 0.750em;
	margin-bottom: 1.250em;
}

.auth span {
	display: block;
	font-weight: 300;
	margin-bottom: 0.938em;
}

.ef-avatar {
	overflow: hidden;
	display: block;
}

.post-comm {
	margin-left: 5.313em;
	border-left-width: 1px;
	border-left-style: solid;
	padding-left: 1.250em;
	position: relative;
}

.post-comm:before {
	content: '\00B0';
	position: absolute;
	left: -3px;
	top: 1.000em;
}




/* l. Map */

.ef-map {
	width: 100%;
	height: 300px;
	margin-bottom: 1.25em;
}

.ef-map-pag {
	z-index: 500;
	text-align: center;
	line-height: 31px;
	top: auto!important;
	right: 3%!important;
	left: 3%!important;
	bottom: 25px!important;
	overflow: hidden;
	border-width: 1px;
	border-style: solid;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, .9);
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);	        
	        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.ef-map-pag .ef-place {
	width: auto;
	display: inline-block;
	line-height: 1em;
	font-weight: bold;
	padding: 0 20px;
}

.ef-map-pag .btn {
	display: block;
	float: left;
	cursor: pointer;
	width: 35px;
	height: 35px;
	position: relative;
	border-style: solid;
	border-top-width: 0;
	border-right-width: 1px;
	border-bottom-width: 0;
	border-left-width: 0;
}

.ef-map-pag .fwd-btn {
	float: right;
	border-top-width: 0;
	border-right-width: 0;
	border-bottom-width: 0;
	border-left-width: 1px;
}

.ef-map-pag .btn:before {
	position: absolute;
	content: '';
	left: 50%;
	top: 50%;
	width: 0;
	height: 0;
	margin-top: -5px;
	border-style: solid;
	border-width: 5px;
}

.ef-map-pag .back-btn:before {
	border-color: transparent #909090 transparent transparent;
	margin-left: -7px;
}

.ef-map-pag .fwd-btn:before {
	border-color: transparent transparent transparent #909090;
	margin-left: -2px;
}




/* m. Common Form styles + Contact Form */

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
	height: 2.143em;
	line-height: 1em;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
			box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
			box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	background: none;
}

textarea {
	min-height: 150px;
	line-height: 1.5em;
}

/**/

input.error, textarea.error, .ef-contact-slider.error a {
	border-color: #de6262!important;
	background: #fff;
}

input.valid, textarea.valid, .ef-contact-slider.valid a {
	border-color: #79c861!important;
}

.ef-contact-slider.error a {
	background-color: #f7d6d6;
}

.ef-contact-slider.valid a {
	background-color: #c8eebd;
}

.ui-slider {
	margin-bottom: 1.250em;
	height: 0.688em;
	border-width: 1px;
	border-style: solid;
	-webkit-box-shadow: inset 0px 2px 7px 0px rgba(0, 0, 0, 0.07);	        
	        box-shadow: inset 0px 2px 7px 0px rgba(0, 0, 0, 0.07);
}

.ui-slider a {
	border-width: 1px;
	border-style: solid;
	cursor: pointer;
	display: block;
}

.ui-slider .ui-slider-handle {
	cursor: pointer;
}




/* n. Footer*/

#ef-footer {
	padding-top: 2.188em;
	background-image: url('../images/slider-shad-top.png');
	background-repeat: repeat-x;
	background-position: left top;
}

#ef-footer .textwidget {
	margin-bottom: 1.25em;
}

#ef-footer h6, .ef-sidebar h6 {
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 1.250em;
}


/*----------------------------- 3. END PAGE PART STYLES --------------------*/

/* ---------------------------- 4. ELEMENTS ------------------------------- */

/* a. Buttons */

.button.postfix {
	line-height: 2.143em;
}

.button, button {
	background-image: none;
	height: auto!important;
	text-shadow: none!important;
	border: 0;
	-webkit-box-shadow: 0 0 0 0;
		    box-shadow: 0 0 0 0;
}

.dropdown.button.small:before {
	border-width: 0.313em;
	margin-top: -0.125em;
}

.f-dropdown:after {
	display: none;
}

.f-dropdown:before {
	border-width: 4px;
	top: -8px;
}

.f-dropdown {
	margin-top: 0;
	width: 9.375em;
	z-index: 501;
	padding: 0.625em 0.313em;
	border: 0;
	-webkit-box-shadow:  0px 0px 0px 1px rgba(0, 0, 0, 0.09);	        
	        box-shadow:  0px 0px 0px 1px rgba(0, 0, 0, 0.09);
}

.f-dropdown li, .f-dropdown li:hover {
	font-size: 0.813em;
	background: #fff;
}

.f-dropdown li a {
	line-height: 1.4em;
}

.button {
	white-space: nowrap!important;
}

.button img {
	vertical-align: middle;
	margin-left: 0.7em;
}

.button, .button.medium.ef-hollow {
	padding-top: 0.625em;
}

button.small, .button.small {
    padding-bottom: 0.692em;
    padding-top: 0.769em;
}

.ef-button.small {
	position: relative;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 0.688em;
	padding-top: 0.909em;
	padding-bottom: 0.909em;
}

.ef-button.small:after {
	position: relative;
	top: -0.091em;
	border: none;
	content: "\002B";
	font-size: 0.938em;
	font-weight: bold;
	margin-left: 0.727em;
}

.ef-hollow {
	background: none transparent!important;
	border-width: 1px;
	border-style: solid;
}

.ef-hollow.medium {
	border-width: 2px;
	padding-top: 1.000em;
	padding-bottom: 0.625em;
}

.ef-purchase {
	background-image: url('../images/purchase-icn.png');
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 55px;
}

.button-group li a.button {
	-webkit-box-shadow: inset -2px 0px 0px 0px rgba(0, 0, 0, 0.1);	        
	        box-shadow: inset -2px 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.button-group li:last-child a.button {
	-webkit-box-shadow: 0 0 0 0;	        
	        box-shadow: 0 0 0 0;
}



/* b. 35 Social Icons (Topbar Icons and Shortcodes) + 100" Icon Sweets 2 set (services) */

.ef-s-buttons {
	margin: 0 0.313em 0.313em 0;
}

#ef-top ul.ef-soc-icons {
	white-space: normal;
}

ul.ef-soc-icons li {
	list-style: none;
	display: inline-block;
	vertical-align: top;
}

ul.ef-soc-icons a {
	white-space: normal;
	display: block;
	position: relative;
	width: 35px;
	height: 35px;
	background-image: url('../images/icons/favea-svg-social-pack.svg');
    background-repeat: no-repeat;
    -webkit-background-size: 570px 240px;
    -moz-background-size: 570px 240px;
    background-size: 570px 240px;
}

.ef-twt {
	background-position: -20px -20px;
}

.ef-fb {
	background-position: -75px -20px;
}

.ef-in {
	background-position: -130px -20px;
}

.ef-pin {
	background-position: -185px -20px;
}

.ef-drb {
	background-position: -240px -20px;
}

.ef-tumb {
	background-position: -295px -20px;
}

.ef-flick {
	background-position: -350px -20px;
}

.ef-vim {
	background-position: -405px -20px;
}

.ef-delic {
	background-position: -460px -20px;
}

.ef-goog {
	background-position: -515px -20px;
}

.ef-forr {
	background-position: -20px -75px;
}

.ef-hi5 {
	background-position: -75px -75px;
}

.ef-last {
	background-position: -130px -75px;
}

.ef-space {
	background-position: -185px -75px;
}

.ef-newsv {
	background-position: -240px -75px;
}

.ef-pica {
	background-position: -295px -75px;
}

.ef-tech {
	background-position: -350px -75px;
}

.ef-rss {
	background-position: -405px -75px;
}

.ef-rdio {
	background-position: -460px -75px;
}

.ef-share {
	background-position: -515px -75px;
}

.ef-skyp {
	background-position: -20px -130px;
}

.ef-slid {
	background-position: -75px -130px;
}

.ef-squid {
	background-position: -130px -130px;
}

.ef-stum {
	background-position: -185px -130px;
}

.ef-what {
	background-position: -240px -130px;
}

.ef-wp {
	background-position: -295px -130px;
}


.ef-ytb {
	background-position: -350px -130px;
}

.ef-digg {
	background-position: -405px -130px;
}

.ef-beh {
	background-position: -460px -130px;
}

.ef-yah {
	background-position: -515px -130px;
}

.ef-blogg {
	background-position: -20px -185px;
}

.ef-hype {
	background-position: -75px -185px;
}

.ef-groove {
	background-position: -130px -185px;
}

.ef-sound {
	background-position: -185px -185px;
}

.ef-insta {
	background-position: -240px -185px;
}

.ef-vk {
	background-position: -295px -185px;
}

#ef-team .ef-soc-icons {
	border-top-width: 1px;
	border-top-style: solid;
}

a.ef-icon {
	display: inline-block;
	margin-bottom: 0.3em;
	width: 62px;
	height: 66px;
	background-image: url('../images/services-img-mask.png');
	background-repeat: no-repeat;
	background-position: -10px -11px;
}

.ef-services article:hover a.ef-icon {
	background-position: -92px -11px;
}

a.ef-icon span {
	display: block;
	width: 100%;
	height: 100%;
	background-position: left top;
	background-repeat: no-repeat;
}

.ef-services article:hover > a.ef-icon span {
	background-position: right top;
}

.ef-icn-1 span {
	background-image: url('../images/icons/icn-1.svg');
}

.ef-icn-2 span {
	background-image: url('../images/icons/icn-2.svg');
}

.ef-icn-3 span {
	background-image: url('../images/icons/icn-3.svg');
}

.ef-icn-4 span {
	background-image: url('../images/icons/icn-4.svg');
}

.ef-icn-5 span {
	background-image: url('../images/icons/icn-5.svg');
}

.ef-icn-6 span {
	background-image: url('../images/icons/icn-6.svg');
}

.ef-icn-7 span {
	background-image: url('../images/icons/icn-7.svg');
}

.ef-icn-8 span {
	background-image: url('../images/icons/icn-8.svg');
}

.ef-icn-9 span {
	background-image: url('../images/icons/icn-9.svg');
}

.ef-icn-10 span {
	background-image: url('../images/icons/icn-10.svg');
}


.ef-icn-11 span {
	background-image: url('../images/icons/icn-11.svg');
}

.ef-icn-12 span {
	background-image: url('../images/icons/icn-12.svg');
}

.ef-icn-13 span {
	background-image: url('../images/icons/icn-13.svg');
}

.ef-icn-14 span {
	background-image: url('../images/icons/icn-14.svg');
}

.ef-icn-15 span {
	background-image: url('../images/icons/icn-15.svg');
}

.ef-icn-16 span {
	background-image: url('../images/icons/icn-16.svg');
}

.ef-icn-17 span {
	background-image: url('../images/icons/icn-17.svg');
}

.ef-icn-18 span {
	background-image: url('../images/icons/icn-18.svg');
}

.ef-icn-19 span {
	background-image: url('../images/icons/icn-19.svg');
}

.ef-icn-20 span {
	background-image: url('../images/icons/icn-20.svg');
}

.ef-icn-21 span {
	background-image: url('../images/icons/icn-21.svg');
}

.ef-icn-22 span {
	background-image: url('../images/icons/icn-22.svg');
}

.ef-icn-23 span {
	background-image: url('../images/icons/icn-23.svg');
}

.ef-icn-24 span {
	background-image: url('../images/icons/icn-24.svg');
}

.ef-icn-25 span {
	background-image: url('../images/icons/icn-25.svg');
}

.ef-icn-26 span {
	background-image: url('../images/icons/icn-26.svg');
}

.ef-icn-27 span {
	background-image: url('../images/icons/icn-27.svg');
}

.ef-icn-28 span {
	background-image: url('../images/icons/icn-28.svg');
}

.ef-icn-29 span {
	background-image: url('../images/icons/icn-29.svg');
}

.ef-icn-30 span {
	background-image: url('../images/icons/icn-30.svg');
}


.ef-icn-31 span {
	background-image: url('../images/icons/icn-31.svg');
}

.ef-icn-32 span {
	background-image: url('../images/icons/icn-32.svg');
}

.ef-icn-33 span {
	background-image: url('../images/icons/icn-33.svg');
}

.ef-icn-34 span {
	background-image: url('../images/icons/icn-34.svg');
}

.ef-icn-35 span {
	background-image: url('../images/icons/icn-35.svg');
}

.ef-icn-36 span {
	background-image: url('../images/icons/icn-36.svg');
}

.ef-icn-37 span {
	background-image: url('../images/icons/icn-37.svg');
}

.ef-icn-38 span {
	background-image: url('../images/icons/icn-38.svg');
}

.ef-icn-39 span {
	background-image: url('../images/icons/icn-39.svg');
}

.ef-icn-40 span {
	background-image: url('../images/icons/icn-40.svg');
}


.ef-icn-41 span {
	background-image: url('../images/icons/icn-41.svg');
}

.ef-icn-42 span {
	background-image: url('../images/icons/icn-42.svg');
}

.ef-icn-43 span {
	background-image: url('../images/icons/icn-43.svg');
}

.ef-icn-44 span {
	background-image: url('../images/icons/icn-44.svg');
}

.ef-icn-45 span {
	background-image: url('../images/icons/icn-45.svg');
}

.ef-icn-46 span {
	background-image: url('../images/icons/icn-46.svg');
}

.ef-icn-47 span {
	background-image: url('../images/icons/icn-47.svg');
}

.ef-icn-48 span {
	background-image: url('../images/icons/icn-48.svg');
}

.ef-icn-49 span {
	background-image: url('../images/icons/icn-49.svg');
}

.ef-icn-50 span {
	background-image: url('../images/icons/icn-50.svg');
}


.ef-icn-51 span {
	background-image: url('../images/icons/icn-51.svg');
}

.ef-icn-52 span {
	background-image: url('../images/icons/icn-52.svg');
}

.ef-icn-53 span {
	background-image: url('../images/icons/icn-53.svg');
}

.ef-icn-54 span {
	background-image: url('../images/icons/icn-54.svg');
}

.ef-icn-55 span {
	background-image: url('../images/icons/icn-55.svg');
}

.ef-icn-56 span {
	background-image: url('../images/icons/icn-56.svg');
}

.ef-icn-57 span {
	background-image: url('../images/icons/icn-57.svg');
}

.ef-icn-58 span {
	background-image: url('../images/icons/icn-58.svg');
}

.ef-icn-59 span {
	background-image: url('../images/icons/icn-59.svg');
}

.ef-icn-60 span {
	background-image: url('../images/icons/icn-60.svg');
}


.ef-icn-61 span {
	background-image: url('../images/icons/icn-61.svg');
}

.ef-icn-62 span {
	background-image: url('../images/icons/icn-62.svg');
}

.ef-icn-63 span {
	background-image: url('../images/icons/icn-63.svg');
}

.ef-icn-64 span {
	background-image: url('../images/icons/icn-64.svg');
}

.ef-icn-65 span {
	background-image: url('../images/icons/icn-65.svg');
}

.ef-icn-66 span {
	background-image: url('../images/icons/icn-66.svg');
}

.ef-icn-67 span {
	background-image: url('../images/icons/icn-67.svg');
}

.ef-icn-68 span {
	background-image: url('../images/icons/icn-68.svg');
}

.ef-icn-69 span {
	background-image: url('../images/icons/icn-69.svg');
}

.ef-icn-70 span {
	background-image: url('../images/icons/icn-70.svg');
}


.ef-icn-71 span {
	background-image: url('../images/icons/icn-71.svg');
}

.ef-icn-72 span {
	background-image: url('../images/icons/icn-72.svg');
}

.ef-icn-73 span {
	background-image: url('../images/icons/icn-73.svg');
}

.ef-icn-74 span {
	background-image: url('../images/icons/icn-74.svg');
}

.ef-icn-75 span {
	background-image: url('../images/icons/icn-75.svg');
}

.ef-icn-76 span {
	background-image: url('../images/icons/icn-76.svg');
}

.ef-icn-77 span {
	background-image: url('../images/icons/icn-77.svg');
}

.ef-icn-78 span {
	background-image: url('../images/icons/icn-78.svg');
}

.ef-icn-79 span {
	background-image: url('../images/icons/icn-79.svg');
}

.ef-icn-80 span {
	background-image: url('../images/icons/icn-80.svg');
}


.ef-icn-81 span {
	background-image: url('../images/icons/icn-81.svg');
}

.ef-icn-82 span {
	background-image: url('../images/icons/icn-82.svg');
}

.ef-icn-83 span {
	background-image: url('../images/icons/icn-83.svg');
}

.ef-icn-84 span {
	background-image: url('../images/icons/icn-84.svg');
}

.ef-icn-85 span {
	background-image: url('../images/icons/icn-85.svg');
}

.ef-icn-86 span {
	background-image: url('../images/icons/icn-86.svg');
}

.ef-icn-87 span {
	background-image: url('../images/icons/icn-87.svg');
}

.ef-icn-88 span {
	background-image: url('../images/icons/icn-88.svg');
}

.ef-icn-89 span {
	background-image: url('../images/icons/icn-89.svg');
}

.ef-icn-90 span {
	background-image: url('../images/icons/icn-90.svg');
}


.ef-icn-91 span {
	background-image: url('../images/icons/icn-91.svg');
}

.ef-icn-92 span {
	background-image: url('../images/icons/icn-92.svg');
}

.ef-icn-93 span {
	background-image: url('../images/icons/icn-93.svg');
}

.ef-icn-94 span {
	background-image: url('../images/icons/icn-94.svg');
}

.ef-icn-95 span {
	background-image: url('../images/icons/icn-95.svg');
}

.ef-icn-96 span {
	background-image: url('../images/icons/icn-96.svg');
}

.ef-icn-97 span {
	background-image: url('../images/icons/icn-97.svg');
}

.ef-icn-98 span {
	background-image: url('../images/icons/icn-98.svg');
}

.ef-icn-99 span {
	background-image: url('../images/icons/icn-99.svg');
}

.ef-icn-100 span {
	background-image: url('../images/icons/icn-100.svg');
}




/* c. Panels */

.panel.callout {
	border-color: rgba(0, 0, 0, .1);
}

.panel.ef-panel {
	padding: 0.6em 0;
	border-left-width: 0;
	border-right-width: 0;
}

.panel p:last-child {
	margin: 0;
}

.panel.ef-panel h1 {
	margin-top: 0.375em;
}

.panel.ef-panel h2 {
	margin-top: 0.563em;
}

.panel.ef-panel h3 {
	margin-top: 0.75em;
}

.panel.ef-panel h4 {
	margin-top: 0.75em;
}

.panel.ef-panel h5 {
	margin-top: 1.000em;
}




/* d. Alerts*/

.ef-form-alert {
	display: none;
	border: 0;
}

.alert-box {
	font-size: 0.813em;
	padding-left: 1.125em;
	padding-right: 2.143em;
	border: 0;
	line-height: 1.2em;
}

.alert-box.success {
	background-color: #52cf2b;
}

.alert-box.alert {
	background-color: #e73a3e;
}

.alert-box .close, .alert-box .close:hover, .alert-box .close:focus {
	-webkit-opacity: 0.5;
	   -moz-opacity: 0.5;
	        opacity: 0.5;
}

.alert-box .close {
	top: 0.571em;
	box-sizing: border-box;
}




/* i. Highlights */

kbd {
	border-color: rgba(0, 0, 0, .1);
	padding: 0 0.385em 0.154em;
}




/* f. Pricing Table + Pseudo Table */

.ef-pseudo-table {
	border-top-width: 1px;
	border-right-width: 0;
	border-bottom-width: 0;
	border-left-width: 1px;
	border-style: solid;
	list-style: none;
	overflow: hidden;
}

.ef-pseudo-table ul {
	margin: 0;
}

.ef-pseudo-table li li {
	list-style: none;
	border-top-width: 0;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0;
	border-style: solid;
}

.ef-pseudo-table li li img {
	vertical-align: middle;
	padding: 0.625em 0;
}

.ef-price-table {
	position: relative;
}

.ef-price-table.ef-plan:after {
	content: '';
	position: absolute;
	width: 78px;
	height: 78px;
	background: url('../images/pop.png') no-repeat center center;
	top: 0;
	right: 0;
}

.ef-price-table:hover, .ef-price-table.ef-plan {
	-webkit-box-shadow:  0px 0px 15px 0px rgba(36, 201, 192, 0.2);	        
	        box-shadow:  0px 0px 15px 0px rgba(36, 201, 192, 0.2);
}

.ef-price-table .title, .ef-price-table .price {
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.ef-price-table .title {
	text-transform: uppercase;
}

.ef-price-table .price {
	margin-bottom: 0.500em;
	font-size: 1.625em;
	padding-top: 0.577em;
	padding-bottom: 0.577em;
	line-height: 1em;
}

.ef-price-table .price small {
	font-size: 0.500em;
	display: block;
}

.ef-price-table .bullet-item {
	font-size: 0.813em;
	padding-top: 0.438em;
	padding-bottom: 0.438em;
}

.ef-price-table {
	font-size: 1.000em;
}

.ef-price-table .cta-button {
	padding-top: 1.000em;
	margin-bottom: -1.875em;
}

.ef-price-table .bullet-item, .ef-price-table .description {
	border: 0;
}




/* g. Lists */

.ef-list > li {
	margin-left: 1.125em;
	margin-bottom: 0.250em;
}




/* h. Accordion */

.ui-accordion {
	margin-bottom: 	1.25em;
}

.ef-style-accordion .ui-accordion-header {
	padding: 0;
	line-height: 1.5em;
	overflow: hidden;
	margin-top: 6px;
}

.ef-style-accordion .ui-accordion-content {
	padding: 0.500em 0;
}

.ef-uiaccordion-content-inner {
	overflow: hidden;
	border-width: 1px;
	border-style: solid;
	padding: 0.313em 0.938em;
}

.ef-style-accordion .ui-accordion-header .ui-accordion-header-icon {
	width: 31px;
	height: 31px;
	margin: 0;
	position: static;
	border-width: 1px;
	border-style: solid;
	display: block;
	float: left;
	background-image: url('../images/accordion-icon.png');
	background-position: right top;
	background-repeat: no-repeat;
}

.ef-style-accordion .ui-accordion-header.ui-accordion-header-active .ui-accordion-header-icon {
	background-position: left top;
}

.ef-uiaccordion-head-inner {
	display: inline;
	margin-left: 0.688em;
	line-height: 1.2125em;
	vertical-align: middle;
}

.ef-style-accordion p:last-child {
	margin-bottom: 0;
}




/* i. Toggle Boxes */

.ef-faq .ef-uiaccordion-head-inner {
	font-size: 0.813em;
}

.ef-faq .ui-accordion-header {
	line-height: 1em;
	margin-bottom: 0.938em;
}

.ef-faq.ef-style-accordion .ui-accordion-header:before {
	content: '\0051\003A';
}

.ef-faq.ef-style-accordion .ui-accordion-header .ui-accordion-header-icon {
	width: 0;
	height: 0;
	border-style: solid;
	background: none;
	border-width: 4px;
	position: relative;
	top: 0.313em;
	left: 0;
	margin-right: 0.313em;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	   		border-radius: 0;
}

.ef-faq.ef-style-accordion .ui-accordion-header-icon.ui-icon-triangle-1-e {
	border-top-color: transparent;	
	border-right-color: transparent;
	border-bottom-color: transparent;	
}

.ef-faq.ef-style-accordion .ui-accordion-header-icon.ui-icon-triangle-1-s {
	top: 0.438em;
	border-left-color: transparent;	
	border-right-color: transparent;
	border-bottom-color: transparent;
}

.ef-faq .ef-uiaccordion-content-inner {
	padding: 0 0 0 2.000em;
	border: 0;
	position: relative;
}

.ef-faq .ef-uiaccordion-content-inner:before {
	position: absolute;
	left: 0.375em;
	top: 0;
	content: '\230A';	
}




/* j. Tabs */

.no-js ul.tabs-nav {
    display: none;
}

.ef-tabs {
    margin-bottom: 1.25em;
}

.ef-tabs ul.tabs-nav {
    clear: both;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
	z-index: 1;
	position: relative;
	margin-bottom: -1px;
}

.ef-tabs ul.tabs-nav li, .ef-tabs ul.tabs-nav li:first-child {
	margin: 0;
}

.ef-tabs ul.tabs-nav li {
    border-width: 1px;
    border-style: solid;
    margin-left: -1px;
}

.ef-tabs ul.tabs-nav li.ui-tabs-active.ui-state-active {
	border-bottom: 0 none;
}

.ef-tabs ul.tabs-nav li a {
	font-size: 0.813em;
    font-weight: 700;
    display: block;
    overflow: hidden;
}

.ef-tabs ul.tabs-nav li:first-child {
	-webkit-border-top-left-radius: 4px;
	   -moz-border-radius-topleft: 4px;	
			border-top-left-radius: 4px;
}

.ef-tabs ul.tabs-nav li:last-child {
	-webkit-border-top-right-radius: 4px;
	   -moz-border-radius-topright: 4px;	
			border-top-right-radius: 4px;
}

.ef-tabs .tab {
    padding: 1.250em;
    border-width: 1px;
    border-style: solid;
    margin-top: -1px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-topright: 4px;    
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.ef-tabs .tab p:last-child {
	margin-bottom: 0;
}

.ef-tabs .ui-tabs-hide,.ui-tabs-hide {
    left: -10000px;
    position: absolute;
}




/* k. Reveal (Modal Dialogs) */

.reveal-modal-bg {
	z-index: 50000;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, .75);
}

.reveal-modal {
	z-index: 50001;
}

#myModal {
	background-image: url('../images/slider-paging-bg.gif');
	background-position: center top;
	background-repeat: repeat-y;
}


/* l. Progressbars */

.ef-progress-bar {
	width: 100%;
	text-transform: uppercase;
	margin-bottom: 1.25em;
}

.ef-progress-bar div {
	margin: 0 0 0.938em 0;
	-webkit-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.07);	        
	        box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.07);
}

.ef-progress-bar span {
	width: 0;
	display: block;
}

.ef-progress-bar span span {
	padding: 0.250em;
	width: auto;
	-webkit-background-size: 30px 30px;
	-moz-background-size: 30px 30px;
	background-size: 30px 30px;
	background-image: -webkit-gradient(linear, left top, right bottom,
						color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent),
						color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)),
						color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent),
						to(transparent));
	background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
	                    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
	                    transparent 75%, transparent);
	background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
	                    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
	                    transparent 75%, transparent);
	background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
	                    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
	                    transparent 75%, transparent);
	background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
	                    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
	                    transparent 75%, transparent);
	background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
	                    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
	                    transparent 75%, transparent);            
	
	-webkit-animation: animate-stripes 3s linear infinite;
	-moz-animation: animate-stripes 3s linear infinite;
}

@-webkit-keyframes animate-stripes { 
	0% {background-position: 0 0;} 100% {background-position: 90px 0;}
}

@-moz-keyframes animate-stripes {
	0% {background-position: 0 0;} 100% {background-position: 90px 0;}
}




/* m. Testimonials */

.ef-testimonials {
	margin-bottom: 1.25em;
}

.ef-testimonials cite {
	display: block;
	padding-bottom: 50px;
	background: url('../images/testimonials.png') no-repeat right bottom;
}


/* ---------------------------- 4. END ELEMENTS --------------------------- */

/* ---------------------------- 5. WIDGETS -------------------------------- */

.ef-widgets {
	 margin-bottom: 0.938em;
}

.widget_recent_comments #recentcomments li, .widget_text li, .widget_contact li, .ef-twitter-widget li, .widget_categories ul li, .widget_links ul li, .widget_meta ul li, .ef-twitter-widget1 ul li, .comments-list li {
	margin-bottom: 0.250em;
	list-style: none;
}

.widget_text .textwidget, .widget_calendar table {
	font-size: 0.813em;
	line-height: 1.5em;
}

.widget_contact {
	background: url('../images/widget-contact-bg.gif') no-repeat right bottom;
}

.widget_text ul {
	font-size: 1em;
	line-height: 1.5em;
}

.widget_text .textwidget p {
	font-size: 1em;
}

#ef-footer h6 span, .ef-sidebar h6 span {
	display: inline-block;
	width: 13px;
	height: 13px;
	vertical-align: middle;
	margin-left: 0.938em;
}

.widget_recent_comments h6 span {
	background: url('../images/widget-icn-comments.png') no-repeat left top;
}

.widget_contact h6 span {
	background: url('../images/widget-icn-contact.png') no-repeat left top;
}

.widget_categories h6 span {
	background: url("../images/bloginfo-cat.png") no-repeat left -1px;
}

.widget_links h6 span {
	background: url('../images/widget-icn-links.png') no-repeat left -1px;
}

.widget_twitter h6 span {
	background: url('../images/widget-icn-twt.png') no-repeat left -1px;
}

.widget_flickr h6 span {
	background: url('../images/widget-icn-flickr.png') no-repeat left -1px;
}

.widget_contact li {
	padding-left: 1.875em;
	background-position: 0 0.250em;
	background-repeat: no-repeat;
}

.widget_contact li.cont-phone {
	background-image: url('../images/cont-phone.png');
}

.widget_contact li.cont-email {
	background-image: url('../images/cont-email.png');
}

.widget_contact li.cont-adress {
	background-image: url('../images/cont-addr.png');
}

.tagcloud a {
	display: inline-block;
	padding: 0.538em 1.154em 0.615em;
	margin: 0 0 0.385em 0;
	border-width: 1px;
	border-style: solid;
	font-size: 0.813em;
}

.no-js .ef-twitter-widget {
	display: none;
}

.ef-twitter-widget {
	padding: 1.375em 0;
}

.ef-twitter ul.tweet_list {
	margin-bottom: 0;
}

.ef-twt-inner {
	padding-top: 0.188em;
}

.ef-twitter-widget1 ul li {
	margin-bottom: 0.938em;
}

.tweet_action {
	text-transform: uppercase;
	font-size: 0.846em;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
}

.tweet_time a {
	font-weight: 300;
}

.ef-birdy {
	width: 33px;
	height: 26px;
	background-image: url('../images/twitter-birdy.png');
	background-repeat: no-repeat;
	background-position: left top;
	margin-right: 0.938em;
}

.ef-twitter-widget:hover .ef-birdy {
	background-position: right top;
	background-color: #44B8F2;
}

#ef-footer-bottom nav ul, #ef-footer-bottom nav li, #ef-footer-bottom p {
	margin-bottom: 0;
}

#ef-footer-bottom {
	padding: 0.625em 0;
}

#ef-footer-bottom nav li {
	display: inline;
	margin: 0 0.313em;
	list-style: none;
}

.widget_calendar table {
	width: 100%;
}

.widget_calendar caption {
	padding: 0.313em 0;
	border-width: 1px;
	border-style: solid;
	border-bottom-width: 0;
}

.widget_calendar table tr th, .widget_calendar table tr td {
	padding: 0.625em 0;
	text-align: center;
}

#today {
	border-width: 1px;
	border-style: solid;
}

.widget_calendar td#next {
	border-left-width: 1px;
	border-left-style: solid;
}

.widget_calendar td#prev {
	border-right-width: 1px;
	border-right-style: solid;
}

.jflickr li {
	list-style: none;
	float: left;
	width: 31.3%;
	margin: 1%;
}

.jflickr a {
	display: block;
	overflow: hidden;
	position: relative;
}

.jflickr img {
	width: 100%;
	display: block;
}

.widget_calendar table tfoot {
	border-top-width: 1px;
	border-top-style: solid;
}

/* ---------------------------- 5. END WIDGETS ---------------------------- */

/* to top */

#to-top {
	text-align: center;
	display: none;
	-webkit-border-top-left-radius: 3px;
	    -moz-border-radius-topleft: 3px;
	   	    border-top-left-radius: 3px;
	z-index: 10000;
	cursor: pointer;
	background-color: #505050;
	color: #fff;
	position: fixed;
	right: 0;
	top: auto;
	left: auto;
	bottom: 0;
	width: 40px;
	height: 2.313em;
	line-height: 2.313em
}

#to-top:before {
	content: '\0394';
}

@media only screen and (max-width:61.875em){
	#to-top {
		display: none!important;
	}
}